# --- Sistema Operativo (Mac / Windows) ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- FRONTEND (Angular) ---
front-angular/node_modules/
front-angular/dist/
front-angular/.angular/
front-angular/.env
front-angular/.vscdb

# --- BACKEND (.NET / C#) ---
backend-aspnet/bin/
backend-aspnet/obj/
backend-aspnet/appsettings.Development.json

# --- Logs ---
*.log
npm-debug.log*

# --- Database ---
database/*.sql.bak
testsprite_tests/tmp/config.json
